html {
  font-size: 62.5%;

  @media screen and (min-width: 2000px) {
    font-size: 0.48vw;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #FFFFFF;
  font-size: 1.6rem;
}

.container {
  width: 100%;
  max-width: 144rem;
  padding: 0;
  margin: 0 auto;
}

html.hidden {
  overflow: hidden !important;
  padding-right: 15px;
}
