// Colors
$colorBackground: #FFFFFF;
$colorTextMain: #130430;


// Paddings
$padding-xxl: 4rem;
$padding-xl: 2.4rem;
$padding-lg: 1.6rem;

// Fonts
$fontSpaceGrotesk: var(--font-space-grotesk);

$default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;

// Media breakpoints
$xxxl: 1660px;
$xxl: 1320px;
$xl: 1180px;
$lg: 1024px;
$md: 768px;
$sm: 565px;
$xs: 376px;
$adaptive: 820px;