@use "../../../styles/mixins" as *;

.border_container {
  display: inline-block;
  position: relative;
  border-radius: 1.6rem;
  overflow: hidden;
}

.border_gradient_bottom {
  position: absolute;
  width: 300%;
  height: 50%;
  bottom: -12px;
  right: -250%;
  border-radius: 50%;
  background: radial-gradient(circle, #6F5EFB, #D7D2F6, transparent 40%);
  animation: star-movement-bottom linear infinite alternate;
  z-index: 0;
}

.border_gradient_top {
  position: absolute;
  width: 300%;
  height: 50%;
  top: -12px;
  left: -250%;
  border-radius: 50%;
  
  background: radial-gradient(circle, #6F5EFB, #D7D2F6, transparent 40%);
  animation: star-movement-top linear infinite alternate;
  z-index: 0;
}

.inner_content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid rgba(76, 89, 108, 0.25);
  background: linear-gradient(to bottom, #F5F9FF, #DCD3F9);
  @include setSpaceGrotesk(1.6rem, 1.5, -0.04em, 500, getColorTextMain());

  text-align: center;
  padding: 1.3rem 4.1rem;
  border-radius: 1.4rem;
  box-shadow: 0 0.04rem 0.4rem rgba(0, 0, 0, 0.1);
  z-index: 1;
  height: 4.5rem;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}
